<div class="container">
  <h3>{{timermessage}}</h3>
  <br>
  <h4>Julians kat snelheid: 1 seconden doet zij over 100 meter</h4>
  <h4>Sonic snelheid: 2 seconden doet hij over 100 meter</h4>
  <h4>Bugatti Chiron snelheid: 3 seconden doet het over 100 meter</h4>
  <br>
  <p>Welke van deze snelheidsdemonen is het snelst?</p>
  <h4>{{racemessage}}</h4>
  <button (click)="checkrace()">Start de race</button>
  <br>
  <h4>Het laagste nummer binnen de reeks [5, 4, 7, 2, 8] is:</h4>
  <h4>{{minmessage}}</h4>
</div>
